/* Styles pour le modal de du users */

#users-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#users-modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#users-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#users-modal .close:hover,
#users-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#users-modal .delete-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgb(163, 163, 163);
}

#users-modal .delete-user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info-user-modal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h3 {
    font-size: 15px;
}
.info-user-modal .info {
    font-weight: 600;
    font-size: 15px;
}
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgb(163, 163, 163);
}

/* Styles pour le modal de l'Activité */

#activity-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#activity-modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#activity-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#activity-modal .close:hover,
#activity-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#activity-modal .delete-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgb(163, 163, 163);
}

#activity-modal .delete-user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info-user-modal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h3 {
    font-size: 15px;
}
.info-user-modal .info {
    font-weight: 600;
    font-size: 15px;
}

/* Styles pour le modal de du dashboard */

#dashboard-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#dashboard-modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#dashboard-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#dashboard-modal .close:hover,
#dashboard-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour le modal de du parametre */

#settings-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#settings-modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#settings-modal .modal-content .settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#settings-modal .modal-content .settings .setting {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.fa-book-open-reader {
    font-size: 25px;
}
#settings-modal .modal-content .color {
    color: #202528;
}
.secure {
    display: flex;
    width: 52%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#settings-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#settings-modal .close:hover,
#settings-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fa-check-circle {
    color: rgb(0, 255, 0);
    font-size: 20px;
}
.etat {
    display: flex;
}

.bnts button {
    border: 1px solid #202528;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #202528;
}

/* Style de base pour le textarea */
textarea {
    width: 100%; /* Largeur à 100% de son conteneur */
    height: 100px; /* Hauteur initiale */
    padding: 10px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Bordure arrondie */
    resize: vertical; /* Autoriser le redimensionnement vertical */
}

/* Style pour le textarea lorsqu'il est focus */
textarea:focus {
    border-color: #007bff; /* Changement de couleur de bordure */
    outline: none; /* Suppression de l'outline par défaut */
}

/* Style pour le textarea lorsque le texte est en lecture seule */
textarea[readonly] {
    background-color: #f4f4f4; /* Couleur de fond */
    cursor: not-allowed; /* Curseur en mode non autorisé */
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 8;
}

.recente
{
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.submit
{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    width: 10rem;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background: #f05462;
}

.submit .send{
    transform: rotate(45deg);
    font-size: 20px;
    margin-left: 10px;
}

.submit:hover{
    color: #f05462;
    background:#fff;
    border:2px #f05462;
}

.submit:active
{
    transform: scale(0.9);
    color: #fff;
    background: #f05462;
    border:5px solid #f05462;
}


/*Button */
.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }

  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }

  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }

  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }

  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

