@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.musics {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.wave-menu {
    border: 4px solid #df4881;
    border-radius: 50px;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: ease 0.2s;
    position: relative;
    background: #fff;
}

.wave-menu li {
    list-style: none;
    height: 30px;
    width: 4px;
    border-radius: 10px;
    background: #df4881;
    margin: 0 1px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
}

.wave-menu:hover > li {
    background: #fff;
}

.wave-menu:hover {
    background: #df4881;
}

.wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
}

.wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
}

.wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
}

.wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
}

.wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
}

.wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
}

.wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
}

@keyframes wave1 {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0.5);
    }
}

@keyframes wave2 {
    from {
        transform: scaleY(0.3);
    }

    to {
        transform: scaleY(0.6);
    }
}

@keyframes wave3 {
    from {
        transform: scaleY(0.6);
    }

    to {
        transform: scaleY(0.8);
    }
}

@keyframes wave4 {
    from {
        transform: scaleY(0.2);
    }

    to {
        transform: scaleY(0.5);
    }
}

.haut img {
    width: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    transition: 1.2s;
}

.navbar a.active {
    background-color: #df4881;
    color: #ffffff;
    font-weight: 600;
}

.navbar a {
    transition: 0.3s;
    animation: slideTop 0.8s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.slide_effect {
    display: flex;
}
.homestart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/**/
.hero {
    width: 100%;
    min-height: 98vh;
    background-image: url(../img/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 5px 5%;
    overflow: hidden;
    position: relative;
}

.plus {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    padding: 10px 10%;
    /*position: relative;*/
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    transition: 0.3s;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    /*font-weight: 400;*/
}

.ul li:hover,
.lo_gin a:hover {
    transition: 0.3s;
    transform: translateY(-10px);
}

.login-btn {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 50px;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content h2 {
    font-size: 25px;
    color: #222;
}

.content p {
    font-size: 20px;
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.play {
    font-weight: 500;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.play:hover {
    background-color: #df4881;
    color: #fff;
}

.play:active {
    color: #df4881;
    background-color: #fff;
    box-shadow: inset 4px 4px 12px #df3777, inset -4px -4px 12px #fff;
}

.pad {
    padding: 10px;
}

.content .btn {
    background: #df4881;
    padding: 15px 80px;
    font-size: 15px;
    animation-delay: 1s;
}

.btn:hover {
    color: #df4881;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
}

.feature-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: 45%;
}

.feature-img.anim {
    animation-delay: 1s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/**/
.separator {
    height: 3px;
    background-color: #df4881;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
}

.span {
    font-size: 20px;
}

.info {
    margin: 10px;
    padding: 0 10px;
}

.info p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 50px;
}

.list-info {
    display: flex;
    justify-content: space-between;
}

.list-info img {
    /*box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);*/
    width: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box {
    transition: 0.5s ease-out;
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 10px 3px rgb(183, 183, 183);
    width: 350px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.info {
    margin-bottom: 15px;
}

.box1 {
    transition: 0.5s ease-out;
    cursor: pointer;
    text-align: center;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.d1 {
    margin: 60px 0 0 0;
}

.box1 img {
    width: 180px;
    cursor: pointer;
}

.list-info .box:hover {
    transform: scale(1.05);
}

/**/

.apropos {
    margin: 0px 300px 0px 300px;
    display: block;
}

.section {
    text-align: justify;
    margin: 30px;
    padding: 0 10px;
    display: flex;
    /* Utiliser le modèle de boîte flex */
    align-items: center;
}

.section img {
    margin-left: 50px;
    width: 1000px;
}

.HF img {
    border-radius: 10px;
    margin: 0px 50px 0px 0px;
    width: 300px;
}

.FE img {
    border-radius: 10px;
    margin: 0px 0px 0px 50px;
    width: 300px;
}

.P img {
    border-radius: 10px;
    margin: 0px 50px 0px 0px;
}

.NN img {
    border-radius: 10px;
    margin: 0px 0px 0px 50px;
    width: 300px;
}

.H img {
    border-radius: 10px;
    margin: 0px 50px 0px 0px;
    width: 300px;
}

.trait {
    height: 3px;
    background-color: #df4881;
    width: 50%;
    margin: 20px 0;
    border-radius: 5px;
}

/*.haut {
    position: fixed;
}*/
/*ICON*/

/*.fa-shield{
    width: 250px;
    color: #df4881;
}*/

/*Annimation*/

/* Keyframes pour les animations */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideSci {
    0% {
        opacity: 0;
        transform: translateX(100px) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(45deg);
    }
}

@keyframes zone2 {
    0% {
        opacity: 0;
        /*transform: translateY(100px);*/
        right: -40%;
    }

    100% {
        opacity: 1;
        transform: translateX(0, 0) scale(0) (-45deg);
        /*right: -25%;*/
    }
}
