body {
    font-family: Arial, sans-serif;
    background-color: #9b9898;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

i{
    color: green;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #ffffff;


}

/* a {
    background-color: #df4881;
    color: #ffffff;
    font-weight: 600;
} */


.button {
    background-color: #df4881;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:active{
    transform: scale(0.87);
    background-color: green;
}

.fa-check-circle{
    font-size: 60px;
}
img{
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn1{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 35vh;
    right: 3vh;
    background-color: #9b9898; /* Modification */
}
.btn{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 29vh;
    left: 81vh;
    background-color: #9b9898; /* Modification */
}

.cout {
    position: relative;
    display: flex;
    left: 16px;
    align-content: center;
    flex-direction: row;
    align-items: center;
    bottom: 35.7vh;
}

/* Les classes b1 à b25 ont toutes une couleur de fond blanche, nous allons les remplacer par noir */

.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10,
.b11, .b12, .b13, .b14, .b15, .b16, .b17, .b18, .b19, .b20,
.b21, .b22, .b23, .b24, .b25 {
    position: relative;
    margin-left: 16px;
    background-color: #fff; /* Modification */
    width: 10px;
    height: 10px;
    bottom: 25px;
}
