body {
    font-family: Arial, sans-serif;
    background-color: #9b9898;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.content{
    width: 60%;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

i{
    color: green;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #ffffff;


}

/* a {
    background-color: #df4881;
    color: #ffffff;
    font-weight: 600;
} */


.button {
    background-color: #df4881;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:active{
    transform: scale(0.87);
    background-color: green;
}

.fa-check-circle{
    font-size: 60px;
}
img{
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn1{
    position: sticky;
    border-top-right-radius:50%;
    border-bottom-right-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 49.5vh; /* Ajustez cette valeur selon vos besoins */
    left: 5vh; /* Ajustez cette valeur selon vos besoins */
    background-color: #9b9898; /* Modification */
}
.btn2{
    position: sticky;
    border-top-left-radius:50%;
    border-bottom-left-radius: 50%;
    width: 51px;
    height: 50px;
    bottom: 49.5vh; /* Ajustez cette valeur selon vos besoins */
    left: 150vh;
    background-color: #9b9898; /* Modification */
}

.cout {
    position: sticky;
    display: flex;
    width: 90%;
    align-content: center;
    flex-direction: row;
    align-items: center;
    left: 43.8vh;
    bottom: 51.8vh;
}

/* Les classes b1 à b25 ont toutes une couleur de fond blanche, nous allons les remplacer par noir */

.b{
    position: static;
    margin-left: 16px;
    border-radius: 50%;
    background-color: #ffffff; /* Modification */
    width: 10px;
    height: 10px;
    /*bottom: 25px; */
}


@media screen and (max-width: 1135px) {
    .cout {
        display: none;
    }
}
