@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.wrapper {

    max-width: 800px;
    min-height: 500px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 15px;
}

.left_panel {
    min-height: 500px;
    background-color: #27344b;
    flex: 1;
    text-align: center;

}

.left_panel .img {
    width: 50%;
    border: 2px solid  white;
    border-radius: 50%;
    margin: 10px;
   /* padding: 10px;*/
}

.left_panel label {
    width: 93%;
    height: 30px;
    display: block;
    background-color: #404b56;
    border-bottom: solid thin rgb(214, 214, 214);
    cursor: pointer;
    padding:5px 5px 5px 5px;
    transition: all 1s ease;


}

.left_panel label:hover{

    background-color: #778593;



}

.left_panel label i{
    float: right;
    width: 25px;
    padding-right: 10px;


}

p{
    padding: 0;
    margin: 0 10px 5px 10px;
    font-family: sans-serif;

}

.champ{
    margin-top: 20px;
}

.style{
    font-size: 15px;
    opacity: 0.5;
}

.header{
    background-color: #485b6c;
    height: 70px;
    font-size: 40px;
    text-align: center;
    font-family: Great Vibes;
}

.right_panel {
    text-align: center;
    min-height: 500px;
    flex: 4;
}

.inner_left_panel {
    background-color: #383e48;
    flex: 2;
    min-height: 430px;
}


.inner_right_panel {
    background-color: #f2f7f8;
    flex: 4;
    min-height: 430px;
    transition:all 2s ease ;
}

/*#radio_chat:checked ~ .inner-right-panel {
    flex: 0;
}
*/
#radio_settings:checked ~ .inner_right_panel {
    flex: 0;
}

#radio_Famille:checked ~ .inner_right_panel {
    flex: 0;
}




.container {
    display: flex;
}
