* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}
.img {
    width: 150px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed; /* Position fixe pour rester toujours visible */
    top: 0; /* Alignement en haut de la fenêtre */
    left: 0; /* Alignement à gauche de la fenêtre */
    width: 20vw; /* Largeur spécifique */
    height: 100vh; /* Hauteur pour occuper toute la hauteur de la fenêtre */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    background: #f05462; /* Couleur de fond */
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner les éléments en colonne */
    z-index: 1000; /* Assurez-vous qu'elle est au-dessus de tous les autres éléments */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu .li {
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu .li:hover {
    color: #f05462;
    background: white;
}

.side-menu .choixx .li.clicked {
    color: #f05462;
    background-color: white;
}

.dec a {
    color: red;
    font-weight: 700;
}

.fa-phone {
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}

.fa-phone:hover {
    color: #f05462;
    transform: scale(1.3);
    transition: 0.3s;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type="text"] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .search button img:hover {
    transform: scale(1.3);
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nom a {
    font-size: 25px;
    font-weight: 580;
    color: #f05462;
    cursor: pointer;
    margin: 0 10px 0 10px;
    transition: 0.5s;
}

.nom:hover,
.nom a:hover {
    color: #0095f6;
    transform: scale(1.2);
    font-weight: 600;
    transition: 0.8s;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
}

.profiel {
    border-radius: 50%;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .header .nav .user .img-case img:hover {
    transform: scale(1.3);
}

.container .header .nav .user .img-case span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 1px;
    left: 35px;
    border: 2px solid #fff;
}
.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: white;
        color: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
        border-radius: 10px;

        transition: transform 1s; /* Ajout de la propriété transform dans la transition */
        transform: translateY(
            -10px
        ); /* Utilisation de translateY pour déplacer l'élément verticalement */
    }

    .logo {
        width: 130px;
    }
}

/*Etoille*/
.fa-star {
    color: rgba(255, 215, 0, 1);
}

@media screen and (max-width: 536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }

    .logo {
        width: 90px;
    }
    i:hover {
        color: #f05462;
    }
}

.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: lime;
}

#cbx:checked + .check svg {
    stroke: lime;
}

#cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.form-group {
    height: 30px;
    width: 200px;
    border: 2px solid #c8ccd4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.form-group svg {
    top: 3px;
}

.annonce {
    text-align: center;
    display: flex;
    box-shadow: 10px 10px 3px rgb(163, 163, 163);
    background-color: #ffffff;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 250px;
}

textarea {
    width: 100%;
    height: 230px; /* Hauteur désirée */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permettre le redimensionnement vertical */
    font-family: Arial, sans-serif; /* Choisir une police de caractères */
    font-size: 14px; /* Taille de police */
    line-height: 1.5; /* Hauteur de ligne */
}
.content p {
    text-align: justify;
}
.annonce1,
input[type="text"] {
    width: 50%;
    height: 30px; /* Hauteur désirée */
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical; /* Permettre le redimensionnement vertical */
    font-family: "poppins", sans-serif; /* Choisir une police de caractères */
    font-size: 14px; /* Taille de police */
    line-height: 1.5; /* Hauteur de ligne */
}

select {
    height: 30px;
    width: 200px;
    border: 2px solid #c8ccd4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.event {
    display: block;
}

.btns {
    cursor: pointer;
    background-color: #0095f6;
    color: #fff;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-size: 14px;
    padding: 0.5em;
    width: 30%;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}
/*Animation*/
@keyframes vibration {
    0%,
    100% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}
/*
 .user .img {
    animation: vibration 7s linear infinite;
    animation-delay: 0s, 2s, 5s;
  }
*/

img {
    cursor: pointer;
}

.user .img {
    cursor: pointer;
    animation: vibration 0.3s;
    animation-delay: 3s, 0, 3s;
}

.user .img:hover {
    animation: vibration 0.3s linear infinite;
    animation-delay: 3s, 0, 3s;
}

@keyframes vibration {
    0% {
        transform: translateX(-2px);
    }
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}

.affiche_nounou
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.profile_user
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 3px rgb(163, 163, 163);
}

.wrapper .etat{
    color: #2afa6a;
}

.payment-nounou a{
    background-color: #f05462;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: #ccc;
    transition: 0.5s;
}

.payment-nounou a:hover{
    background-color: #ffffff;
    font-weight: 600;
    color: #f05462;
    transform: translateY(20px);
    transition: 0.5s;

}

.payment-nounou a:active{
    background-color: #f05462;
    color: #ccc;
    transform: scale(0.1);
    transition: 0.5s;

}

