
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html,
.body {
    position: relative;
    height: 100%;
}

.body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container {
    width: 350px;
    height: 490px;
}

swiper-container swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;*/
    width: 340px;
    height: 530px;
    margin: 100px auto;
    background: #fff;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide .img-nounou{
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 120px;
    height: 120px;
    top: 30px;
}
.slide h2{
    position: relative;
    display: flex;
    font-family: 'Great Vibes', sans-serif;
    flex-direction: column;
    align-items: center;
    bottom: 30px;
    font-weight: 400;
    font-size: 40px;
}

.infos{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nounou-info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;

}


.view-more{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}




/*swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}

swiper-slide:nth-child(11n) {
    background-color: rgb(48, 90, 226);
}

swiper-slide:nth-child(12n) {
    background-color: rgb(148, 11, 141);
}


swiper-slide:nth-child(13n) {
    background-color: rgb(207, 204, 10);
  }


swiper-slide:nth-child(13n) {
    background-color: rgb(10, 13, 207);
  }
*/
